@font-face {
  font-family: "Gabarito";
  src: url("/fonts/garbarito/Gabarito-Regular.woff2") format("woff2"),
    url("/fonts/garbarito/Gabarito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labrada";
  src: url("/fonts/labrada/Labrada-Regular.woff2") format("woff2"),
    url("/fonts/labrada/Labrada-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
