@font-face {
  font-family: "Gabarito";
  src: url("/fonts/garbarito/Gabarito-Regular.woff2") format("woff2"),
    url("/fonts/garbarito/Gabarito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labrada";
  src: url("/fonts/labrada/Labrada-Regular.woff2") format("woff2"),
    url("/fonts/labrada/Labrada-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Light.woff2") format("woff2"),
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Book.woff2") format("woff2"),
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Roman.woff2") format("woff2"),
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Medium.woff2") format("woff2"),
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-SemiBold.woff2") format("woff2"),
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Bold.woff2") format("woff2"),
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-ExtraBold.woff2") format("woff2"),
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk-Overused";
  src: url("/fonts/grotesk-overused/GroteskOverused-Black.woff2") format("woff2"),
  font-weight: 900;
  font-style: normal;
}