@font-face {
  font-family: "Gabarito";
  src: url("/fonts/garbarito/Gabarito-Regular.woff2") format("woff2"),
    url("/fonts/garbarito/Gabarito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labrada";
  src: url("/fonts/labrada/Labrada-Regular.woff2") format("woff2"),
    url("/fonts/labrada/Labrada-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galgo";
  src: url("/fonts/galgo/Galgo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lusitana";
  src: url("/fonts/lusitana/Lusitana-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("/fonts/space-grotesk/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}