@forward "utils";

body {
  background-color: var(--theme-black);
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  color: white;

  span {
    font-size: 3rem;
    &:first-child {
      font-weight: 900;
    }
  }
}

section {
  min-height: 100vh; /* Fallback */
  min-height: 100dvh;
  width: 100%;

  font-family: "Grotesk-Overused", sans-serif;
  font-weight: 400;

  color: white;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chapter {
  padding: 3rem 0;
  &-header {
    h3 {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      padding: 2rem 0;
      border-bottom: 1px solid #eeeeee;

      &:first-child {
       border-top: 1px solid #eeeeee;
      }
    }

    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #eeeeee;
      &:hover {
        color: #bd93f9;
      }
    }

    h3 {
      font-size: 2rem;
    }
  }
}
