@forward 'fonts';
@use "sass:list";
@import 'normalize.css';


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  align-items: center;
	overflow: hidden;
	width: 45vw;
  height: 100%;
  position: relative;
  margin: 13vh 0;
  // show the excess area of the container
  // background-color: red;

  // change the height for varying the parallax clipping
  &:nth-child(even) {
    // height: 55vh;
    inset: 0 0 0 5rem;
  }

  &:nth-child(odd) {
    // height: 65vh;
    inset: 0 0 0 13rem;
  }

  &:nth-child(3n) {
    inset: 0 0 0 8rem;
  }

  &:nth-child(6) {
    width: 100vw;
    inset: 0;

    img {
      max-width: 100%;
    }
  }

}

img {
  // position: absolute;
  // less than 100% versus greater than 100%
  // height: 150%;
  width: 100%;
  object-fit: contain;
  // top: 0;
  // bottom: 0;
}
