@forward "fonts";
@use "sass:list";
@import "normalize.css";

main {
  background-color: #f8f8f2;
  color: #282a36;
}

article {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.article-1 {
  background-color: #ffb86c;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2rem;
  gap: 1rem;
  width: 100%;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 4rem;
    }
  }

  // TODO: Images extended beyond viewport height, why? How to fix with css?
  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.article-2 {
  background-color: #bd93f9;

  &__content {
    display: grid;
    grid-template-rows: min-content max-content;
    justify-self: center;
    align-items: start;
  }

  &__header {
    max-width: 89%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__content {
    max-width: 89%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.article-3 {
  background-color: #8be9fd;

  &__content {
    padding: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    column-gap: 10rem;
    align-items: start;
    max-width: 89%;
  }
}

h1 {
  padding: 0;
  margin: 0;
  font-family: "Garbarito", sans-serif;
  font-weight: 400;
}

header {
  padding: 4rem;
}

.image-container {
  width: 50vw;
  height: 50vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

$dracula-colors: (
  "background": #282a36,
  "current-line": #44475a,
  "comment": #6272a4,
  "purple": #bd93f9,
  "pink": #ff79c6,
  "cyan": #8be9fd,
);

@each $name, $color in $dracula-colors {
  .section-#{list.index($dracula-colors, ($name $color))} {
    background-color: $color;

    @if list.index($dracula-colors, ($name $color)) >= 5 {
      img {
        max-width: 45vh;
        object-fit: contain;
      }
    }
  }
}
