---
import '../styles/main.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GSAP</title>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
    <script is:inline src="/scripts/SplitText.min.js"></script>
  </head>
  <body>
    <main>
      <article class="section-1">
        <div class="section-1__content">
          <header>
            <h1>
              GSAP CHARACTERS
            </h1>
          </header>
        </div>
      </article>
      <article class="section-2">
        <div class="section-2__content">
          <header>
            <h1>GSAP WORDS FADE UP IN</h1>
          </header>
        </div>
      </article>
      <article class="section-3">
        <div class="section-3__content">
          <header>
            <h1>GSAP WORDS SIDE FADE IN</h1>
          </header>
        </div>
      </article>
      <article class="section-4">
        <div class="section-4__content">
          <header>
            <h1>GSAP CHARACTERS ROTATE IN</h1>
          </header>
        </div>
      </article>
      <article class="section-5">
        <div class="section-5__content">
          <header>
            <h1>GSAP CHARACTERS SCALE UP</h1>
          </header>
        </div>
      </article>
      <article class="section-6">
        <div class="section-6__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </div>
      </article>
      <article class="section-7">
        <div class="section-7__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </div>
      </article>
      <article class="section-8">
        <div class="section-8__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </div>
      </article>
      <article class="section-9">
        <div class="section-9__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        </div>
      </article>
      
    </main>
  </body>
  <script is:inline src="/src/scripts/animations.js"></script>
</html>
