<style lang="scss">
  @use "sass:list";
  @forward "../../styles/fonts";
  @import "../../styles/normalize";

  main {
    display: grid;
    width: 100dvw;
    min-height: 100dvh;
  }

  article {
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    container: article / inline-size;
  }

  section {
    width: 100dvw;
    height: 100dvh;
    background-color: #1e1e1e;
    display: grid;
  }

  header {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 200;
    line-height: 1;
    overflow: hidden;
    // margin: 5rem;
    position: relative;  
    cursor: pointer;
    display: flex;
    height: 10vw;
    width: 100%;
  }

  h1 {
    color: white;
    font-family: "Garbarito", sans-serif;
    font-weight: 400;
    font-size: clamp(5cqw, 10vw, 10cqw);
    font-size: 10vw;
    line-height: 100%;
    letter-spacing: -0.05em;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    transition: color 0.125s ease-in-out;
    text-transform: uppercase;
    transform: translateZ(0);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform, opacity;

    &:nth-child(2) {
      top: 100%;
    }

    &:hover {
      color: red;
    }
  }

  .image-container {
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
      transform: translateZ(0);
      backface-visibility: hidden;
      will-change: transform, opacity;
      transform-style: preserve-3d;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Images Grid Zoom Up</title>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
  </head>
  <body>
    <main>
      <article class="section-1">
        <section class="section-1__content">
          <header>
            <h1>Chalcedony</h1>
          </header>
          <div class="image-container">
            <img
              class="image-container__img"
              src="/public/images/crystals/img1.jpg"
              alt="Dessert Landscape"
            />
          </div>
        </section>
      </article>
    </main>
  </body>
</html>

<script type="text/javascript">
  /**
   * Feature: Infinite roll down with same text phrase
   * Based: https://www.youtube.com/watch?v=2YbpKIMpujU
   *
   * Problem:
   *
   *
   */

  window.addEventListener("load", () => {
    gsap.registerPlugin(ScrollTrigger);

    const header = document.querySelector("header");
    const textOriginal = header.querySelector("h1");
    const textClone = textOriginal.cloneNode(true);
    header.appendChild(textClone);

    header.addEventListener("mouseenter", () => {
      mouseEnterAnimation(header);
    });

    header.addEventListener("mouseleave", () => {
      mouseLeaveAnimation(header);
    });

    function mouseEnterAnimation(item) {
      gsap.to(item.querySelector("h1:nth-child(1)"), {
        top: "-100%",
        duration: 0.5,
      });
      gsap.to(item.querySelector("h1:nth-child(2)"), {
        top: "0%",
        duration: 0.5,
      });
    }

    function mouseLeaveAnimation(item) {
      gsap.to(item.querySelector("h1:nth-child(1)"), {
        top: "0%",
        duration: 0.25,
      });
      gsap.to(item.querySelector("h1:nth-child(2)"), {
        top: "100%",
        duration: 0.25,
      });
    }
  });
</script>
