---
import "../../styles/preloader/preloader-external-images.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GSAP</title>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
    <script is:inline src="/scripts/ScrollSmoother.min.js"></script>
  </head>
  <body>
    <main id="smooth-wrapper">
      <div id="smooth-content">
        <section class="parallax-stream">
          <article class="preloader">
            <p class="preloader__counter">Loading...</p>
            <img src="images/crystals/img1.jpg" alt="">
          </article>
          <article class="article-1">
            <img data-src="https://loremflickr.com/320/240?random=1" alt="">
            <img data-src="https://loremflickr.com/320/240?random=2" alt="">
            <img data-src="https://loremflickr.com/320/240?random=3" alt="">
            <img data-src="https://loremflickr.com/320/240?random=4" alt="">
            <img data-src="https://loremflickr.com/320/240?random=5" alt="">

            <img data-src="https://loremflickr.com/320/240?random=6" alt="">
            <img data-src="https://loremflickr.com/320/240?random=7" alt="">
            <img data-src="https://loremflickr.com/320/240?random=8" alt="">
            <img data-src="https://loremflickr.com/320/240?random=9" alt="">
            <img data-src="https://loremflickr.com/320/240?random=10" alt="">

            <img data-src="https://loremflickr.com/320/240?random=11" alt="">
            <img data-src="https://loremflickr.com/320/240?random=12" alt="">
            <img data-src="https://loremflickr.com/320/240?random=13" alt="">
            <img data-src="https://loremflickr.com/320/240?random=14" alt="">
            <img data-src="https://loremflickr.com/320/240?random=15" alt="">

            <img data-src="https://loremflickr.com/320/240?random=16" alt="">
            <img data-src="https://loremflickr.com/320/240?random=17" alt="">
            <img data-src="https://loremflickr.com/320/240?random=18" alt="">
            <img data-src="https://loremflickr.com/320/240?random=19" alt="">
            <img data-src="https://loremflickr.com/320/240?random=20" alt="">

            <img data-src="https://loremflickr.com/320/240?random=21" alt="">
            <img data-src="https://loremflickr.com/320/240?random=22" alt="">
            <img data-src="https://loremflickr.com/320/240?random=23" alt="">
            <img data-src="https://loremflickr.com/320/240?random=24" alt="">
            <img data-src="https://loremflickr.com/320/240?random=25" alt="">

            <img data-src="https://loremflickr.com/320/240?random=26" alt="">
            <img data-src="https://loremflickr.com/320/240?random=27" alt="">
            <img data-src="https://loremflickr.com/320/240?random=26" alt="">
            <img data-src="https://loremflickr.com/320/240?random=27" alt="">
            <img data-src="https://loremflickr.com/320/240?random=26" alt="">
          </article>
        </section>
      </div>
    </main>
  </body>
  <script is:inline src="/src/scripts/preloader/preloader-external-images.js"></script>
</html>