<style lang="scss">
  @use "sass:list";
  @forward "../../styles/fonts";
  @import "../../styles/normalize";

  article {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
  }

  .article-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .article-full {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image-container {
    overflow: hidden; /* important for parallax */
    height: 50vw;
    width: 100%;
    position: relative;
  }

  img {
    position: absolute;
    height: 160%;
    width: 100%;
    object-fit: contain;
  }

  $dracula-colors: (
    "background": #282a36,
    "current-line": #44475a,
    "comment": #6272a4,
    "purple": #bd93f9,
    "pink": #ff79c6,
    "cyan": #8be9fd,
  );

  @each $name, $color in $dracula-colors {
    .article-#{list.index($dracula-colors, ($name $color))} {
      background-color: $color;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GSAP</title>
    <script is:inline src="/scripts/gsap.min.js"></script>
    <script is:inline src="/scripts/ScrollTrigger.min.js"></script>
    <script is:inline src="/scripts/ScrollSmoother.min.js"></script>
  </head>
  <body>
    <main id="smooth-wrapper">
      <div id="smooth-content">
        <section class="parallax-stream">
          <article class="article-split article-1">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/sunset-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
            <div class="col-2"></div>
          </article>
          <article class="article-split article-2">
            <div class="col-1"></div>
            <div class="col-2">
              <div class="image-container">
                <img
                  src="/public/images/sunset-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
          </article>
          <article class="article-full article-3">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/sunset-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
          </article>
          <article class="article-split article-4">
            <div class="col-1"></div>
            <div class="col-2">
              <div class="image-container">
                <img
                  src="/public/images/dessert-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
          </article>
          <article class="article-split article-5">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/dessert-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
            <div class="col-2"></div>
          </article>
          <article class="article-full article-6">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/sunset-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
          </article>
          <article class="article-split article-7">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/dessert-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
            <div class="col-2"></div>
          </article>
          <article class="article-split article-8">
            <div class="col-1">
              <div class="image-container">
                <img
                  src="/public/images/dessert-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="image-container">
                <img
                  src="/public/images/dessert-landscape.jpg"
                  alt="Sunset Landscape"
                />
              </div>
            </div>
          </article>
        </section>
      </div>
    </main>
  </body>
</html>

<script type="text/javascript">
  /**
   * Feature: Parallax Scrollable Stream of Images
   *
   * Smooth scroll images
   *  - https://codepen.io/GreenSock/pen/JjmLLWZ
   *  - https://codepen.io/GreenSock/pen/MWVVvWz
   *  - https://codepen.io/GreenSock/pen/PoOpobM
   *  - https://codepen.io/GreenSock/pen/xxXadQJ
   *  - https://codepen.io/GreenSock/pen/bGaWjpw
   */

  document.addEventListener("DOMContentLoaded", () => {
    gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

    const smoother = ScrollSmoother.create({
      smooth: 1,
      effects: true,
      normalizeScroll: true,
      ignoreMobileResize: true,
    });

    smoother.effects("#smooth-content img", { speed: "0.5" });
  });
</script>
